* {
}
body {
    color: #ffffff;
    border: none;
    background-color: #33333300;
    font-size: 14px;
}
main {
  
    padding: 20px;
    background-color: #151515;
    border: none;
    border-radius: 5px;
    
}
form {
    /* display: flex; */
    /* flex-direction: column; */
}
form div {
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: #ffffff22; */
    /* justify-content: center; */
}
p {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff22; */
    justify-content: center;
    margin: 20px 20px 30px 20px;
}
input {
    position: absolute;
    right: 0;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}