:root {
  --background: #000000;
  --foreground: #1b1b1b;
  --dark-text: #363637;
  --mid-text: #404040;
  --main-text: #ffffff;
  --accent: #2b2e3b;
}


* {
    /* border-color: #777777 !important; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    border: none !important;
    background-image: none !important;
    -webkit-font-smooth: always !important;
    user-select: none !important;

    
}
body {
  background-color: var(--background);
}

#upload_confirm_button, #upload_cancel_button {
  background-color: var(--dark-text) !important;
  color: var(--main-text) !important;
  border-radius: 5px !important;
}

input, select {
  background-color: var(--dark-text) !important;
  /* border: 1px solid #777777 !important; */
  color: var(--main-text) !important;
  border: none;
  border-radius: 5px !important;
  margin: 0 3px 0 3px !important;
  height: 26px !important;
  padding: 2px !important;
}
input:focus, select:focus {
  outline: none !important
}


.error {
  color: #c23f3f !important;
}

.torrent {
  background-color: var(--accent) !important;
  margin: 10px
  /* border: 2px solid #0d1022 !important; */
}

#torrent_container {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}

.torrent.selected{
  background-color: var(--dark-text) !important;
}

.torrent_name {
  color: var(--main-text) !important;
}

.torrent_progress_bar {
  background-image: none !important;
}

.torrent_progress_bar.incomplete {
  background-color: var(--background);
}

.torrent_progress_bar.complete.seeding {
  background-color: #009955;
}
.torrent_progress_bar.complete.leeching {
  background-color: #0746b2;
}
.torrent_progress_bar.complete.paused {
  background-color: #555555;
}

.torrent_name {
  font-weight: 500 !important;
}


#toolbar {
  padding-top: 26px !important;
  background-color: var(--foreground) !important;
  font-size: 30px !important;
  color: #eeeeee !important;
  background-image: none !important;
  -webkit-app-region: drag;
  line-height: 0px;
  
}

#toolbar div {
  margin: 0 !important;
  background-image: none !important;
  -webkit-app-region: no-drag;
  padding-top: 3px !important;
}
#toolbar-open {
  padding-left: 20px !important;
}
#toolbar-inspector {
  padding-right: 20px !important;
}
#statusbar {
  padding: 10px 0 10px 0;
}
#filter {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

#statusbar, .torrent_footer {
  background-color: var(--foreground) !important;
  color: #eeeeee !important;
  background-image: none !important;
  z-index: 10;
}

.torrent_footer {
  padding: 10px 0 10px 10px;
  /* margin: 0 !important; */
}
.torrent_footer div {
  line-height: 0px;
  background-color: var(--dark-text) !important;
  font-size: 16px;
  width: 40px !important;
  height: 20px !important;
  margin: 0 5px 0 5px !important;
  padding-top: 5px !important;
  border-radius: 5px;
}
.torrent_footer div.selected {
  background-color: var(--mid-text) !important;
}

.ui-widget, .ui-widget-header {
  background-color: var(--dark-text) !important;
}
.ui-state-default {
  background-color: var(--mid-text) !important;
  /* color: var(--main-text) !important; */
}
.ui-tabs-active {
  background-color: var(--dark-text) !important;
  /* color: var(--main-text) !important; */
}
.ui-tabs-anchor {
  color: var(--main-text) !important;
}
.ui-widget-content {
  color: var(--main-text) !important;
}
.inspector_torrent_file_list_entry_name {
  color: var(--main-text) !important;
}
.inspector_tracker_entry.even {
  background-color: var(--dark-text) !important;
}
.inspector_tracker_entry.odd {
  background-color: #262626 !important;
}
.inspector_tracker_entry > div {
  color: var(--main-text) !important;
}
#login {
  position: absolute;
  right: 16px;
}
#login:hover {
  background-color: var(--background);
}

/* [class^="bi-"]::before, [class*=" bi-"]::before {
  vertical-align: text-center !important;
  
} */

#torrent_inspector {
  padding: 50px 50px 50px 50px !important;
  bottom: 40px !important;
  background-color: var(--foreground) !important;
  color: #fff !important;
}
.inspector-tab {
  background-color: var(--dark-text) !important;
  font-size: 14px;
}
.inspector-tab.selected {
  background-color: var(--mid-text) !important;
}

.inspector_peer_entry.odd {
  background-color: #262626 !important;
}
.inspector_peer_entry.even {
  background-color: var(--dark-text) !important;
}

.torrent_resume {
  
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-clockwise' viewBox='0 -1 20 20'><path fill-rule='evenodd' d='M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z'/><path d='M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z'/></svg>") !important;
}

.torrent_pause {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-pause-circle' viewBox='0 -1 20 20'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z'/></svg>") !important;
}

.low {
  background-color: var(--dark-text) !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-down" viewBox="0 0 16 16"><path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/></svg>') !important;
}

.normal {
  background-color: var(--dark-text) !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/></svg>') !important;
}
.high {
  background-color: var(--dark-text) !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-up" viewBox="0 0 16 16"><path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/></svg>') !important;
}

.low.selected, .normal.selected, .high.selected {
  background-color: var(--mid-text) !important;
}

.dialog_window, .dialog_heading {
  background-color: var(--foreground) !important;
  color: var(--main-text) !important;
}

